body
{
    background-image: url('../images/bg1.jpeg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    text-align: center;
    color: wheat;
    padding-top: 50px;
    padding-bottom:50px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0,0,0, 0.5);
    margin-top:150px;
    margin-left: 200px;
    margin-right: 200px;
   
   
}

.navbar-nav .nav-item .nav-link
{
    font-size: 18px;
    font-weight: bolder;
    padding-right: 20px;
    color:white;
}

span
{
    color:wheat!important;
}

.navbar
{
    background-color: rgba(0,0,0, 0.3);
}

.login
{
    margin-top:100px;
    height: 380px;
    width: auto;
    background-color:rgba(0,0,0, 0.5);
    margin-right: 500px;
    margin-left: 500px;
    padding: 20px 20px 20px 20px;
}

.form
{
    text-align: center;
}

.form-group
{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
}

.form-group input
{
    width: 250px;
}
.btn
{
    margin-top: 25px;
    margin-bottom: 10px;
}

.login h6
{
    text-align: center;
    margin-bottom: 30px!important;
}

.form label
{
    color: white;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}